.mega-nav{
display:flex;
gap:30px;
}

.mega-item{
position:relative;
}

.mega-dropdown{
position:absolute;
top:100%;
left:0;
width:100%;
background:#fff;
display:none;
}

.mega-item:hover .mega-dropdown{
display:block;
}


/* links + products */

.mega-links-products{
display:flex;
flex-wrap:wrap;
}

.mega-links{
width:50%;
display:flex;
flex-wrap:wrap;
gap:30px;
}

.link-group{
min-width:200px;
}

.mega-products{
width:50%;
}


/* bundle */

.mega-bundle{
display:flex;
justify-content:space-between;
}

.bundle-image{
position:relative;
}

.bundle-buttons{
position:absolute;
bottom:20px;
left:20px;
display:flex;
gap:10px;
}